/* reliable color palette */
.color-bistre {
    color: #362417;
}

.color-cinereous {
    color: #92817A;
}

.color-dutchwhite {
    color: #F1DABF;
}

.color-white {
    color: #FFFBFF;
}

.color-richblack {
    color: #04030F;
}
