/* reliable color palette, the white and black are default */
.color-bistre {
    color: #362417;
}

.color-cinereous {
    color: #92817A;
}

.color-dutchwhite {
    color: #F1DABF;
}

/* others */

.cover {
    object-fit: cover;
    width: 100%;
    height: 240px;
}

.bg-image {
    position: relative;
}

.bg-image:before {
    background-image: url("https://source.unsplash.com/poI7DelFiVA/1600x900");
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-size: cover;
}

.content {
    position: relative;
}

/* Bootstrap modifications */
